@charset "utf-8";

/*
 * 共通CSS
 *
 * @author Takahiro Kimura
 * @version 1.0
 * @ 
 */
html {
	height: 100%;
}

body {
	padding-top: 90px;
	font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", 'メイリオ', Meiryo, sans-serif;
	font-size: 16px;
}

body,
.blur::before {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
/*
	background: url(/images/sample/back.png);
	background-repeat: repeat;
*/
}

.blur {
       background: hsla(0,0%,100%,.8);
}

@supports (-webkit-backdrop-filter: blur(10px)) {
	.blur {
		background: hsla(0,0%,100%,.5);
		-webkit-backdrop-filter: blur(10px);
	}
}

@supports not (-webkit-backdrop-filter: blur(10px)) {
	.blur {
	       position: relative;
	       background: hsla(0,0%,100%,.5);
	       overflow: hidden;
	}

	.blur::before {
	               content: '';
	               margin: -35px;
	               position: absolute;
	               top: 0;
	               right: 0;
	               bottom: 0;
	               left: 0;
	               -webkit-filter: blur(20px);
	               filter: blur(20px);
	               z-index: -1;
	}
}


/*
 * Bootstrap
 */

.navbar {
	height: 70px;
}
.navbar-inverse {
    /*	background-color: rgba(0,0,0,.8); */
    background-color: rgba(255,170,0,1);
    border: none;
	box-shadow: 0 0px 20px rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-text{
	color: #000000;
}

.navbar-inverse .navbar-brand{
	color: #000000;
}
.navbar-inverse .navbar-brand:hover{
	text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}
.navbar-inverse .navbar-nav>li>a:hover {
	text-decoration: none;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #EF761B;
}

.dropdown-menu {
  padding: 10px 0;
  margin: 15px 0;
  font-size: 16px;
	border-radius: 10px;
}

.panel {
	border-radius: 10px;
	border: none;
	padding: 15px;
	box-shadow: 0 0px 20px rgba(0,0,0,0.1);
	background: #ffffff;
	margin-bottom: 30px;
}
.panel-default{	
}
.panel-heading {
  padding: 15px 15px 15px 15px;
  margin: 5px 10px;
  border-bottom: none;
	border-radius: 10px;
	font-weight: bold;
}
.panel-default > .panel-heading {
  color: #fff;
  background-color: #ffaa00;
  border-color: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: none;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-body {
	padding: 15px;
}
.btn{
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 16px;
}
.btn-primary {
    background: #FFaa00;
    color: #ffffff;
	border: none;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #EF761B;
    color: #ffffff; 
}

.btn-primary.outline {
    border: none;
}




@media (max-width: 767px) {
	/*.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	    color: #000000;
	}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #000000;
}

.navbar-inverse .navbar-toggle {
    border-color: #000000;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #000000;
}*/


/* navbar ハンバーガー四角枠 */
.navbar-inverse .navbar-toggle {
height: 40px;
margin-top: 15px;
border: solid 2px #FFFFFF;
border-radius: 10px;
}
/* navbar ハンバーガー三本線 */
.navbar-inverse .navbar-toggle .icon-bar {
background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
border-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
.navbar-inverse .navbar-toggle:focus > .icon-bar,
.navbar-inverse .navbar-toggle:hover > .icon-bar {
background-color: #ffaa00;
}
/* navbar Brandのカラー */
.navbar-inverse .navbar-brand {
color: #ff5555;
}
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
color: #ff5555;
background-color: transparent;
}	

	

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #ffaa00;
}
	
.navbar-inverse .navbar-nav > li,
.navbar-inverse .navbar-nav > li{
  color: #fff;
  background-color: #ffffff;
}
	
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: none;
  /*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);*/
}
	
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #666;
    background-color: transparent;
  }
/*
* Panel-default
*/

.panel-default {
    border-color: #2e6da4;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: rgba(255, 170, 0, 1);
    border-color: #ddd;
}
.panel-default>.panel-heading .badge {
    color: #337ab7;
    background-color: #fff;
}

/*
* list-group
*/
.list-group-item {
    border-color: #ddd;
}
.list-group-item-header {
    color: #fff;
    background-color: rgba(51, 122, 183, 0.75);
}

a.link_underline {
	text-decoration: underline;
}


.table-hover>tbody>tr:hover {
    background-color: rgba(245,245,245,.5);
}

.touch-scroll {
	-webkit-overflow-scrolling: touch;
}
}
/*
 * Navbar、panel-heading内のユーザー写真
 *
 */
.navpic {
 height: 40px;
}

/*
 * ページ上のガイドライン
 *
 */
.guide {
	font-size: 80%;
	color: #777;
	margin-top: .5em;
}
