@charset "utf-8";

/*
 * 日記「Like!」機能CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.0
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */
a.diary_like_link {
	text-decoration:underline transparent;
}

a.diary_like_link:hover {
	text-decoration:underline transparent;
}

.diary_heart_empty {
	color: #777;
}

.diary_heart {
	color: #5bc0de;
}
