@charset "utf-8";

/*
 * フォーラム画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.0
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */
#forum_list {
	clear: both;
}

a#before_page, a#next_page {
	display: none;
}
