@charset "utf-8";

/*
 * ローディング表示用CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.0
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */

/* ローディング表示エリア */
#slms_loading {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
	text-align:center;
	background-image: url("../images/common/loading.gif");
/*	background-color: #000;*/
	background-position: center center;
	background-repeat: no-repeat;
	z-index:5000;
}
