@charset "utf-8";

/*
 * ホーム画面（受講者）CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.5
 * @ 
 */

#calendar {
	max-height: 900px;
	margin: 0 auto;
}
.diarypic {
	padding:0;
	margin:0 5px 5px 0;
}
.new {
	font-size: 60%;
	font-weight: bold;
	color: #ffffff;
	background-color: red;
	position: relative;
	top: -0.25em;
	padding: .2em .5em .2em .5em;
	border-radius: 1em;
	text-decoration: underline red;
}
.selfregistcourse_area {
	margin-bottom: 10px;
}
#course_list {
	clear: both;
}
.label_cource {
	padding: .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	border-radius: .25em;
	background-color: #777;
    line-height: 1.2em;
	display: inline-block;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid #ddd;
	
  /*border: 1px solid #ddd;*/
;}
.list-group-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	border-top:none;
	background-color: #FFAA00;
	color: #fff;
	font-weight: bold;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
a.list-group-item,
button.list-group-item {
  color: #555;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #333;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
button.list-group-item {
  width: 100%;
  text-align: left;
}

/* スマホの時、カレンダーのボタンが大きすぎて1行に並びきらないので少し小さくする */
.fc button {
    padding: 0 .4em;
}
