@charset "utf-8";

/*
 * 受講者管理画面CSS
 *
 * @author Mitsuharu Shimizu
 * @version 1.0.1
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */
div.studentsmanage_adduser_btn_area {
	margin-bottom: 20px;
}

table.studentsmanage_table_userinfo tbody>tr>td {
	vertical-align: middle;
}

div#page_link {
	display: none;
}
