@charset "utf-8";

/*
 * 受講者課題画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.1
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */
img.taskmanageusers_user_img {
	min-width: 30px;
}

div#page_link {
	display: none;
}
