@charset "utf-8";

/*
 * 課題編集画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.0
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */
span#taskedit_quiz_answer_error {
	color: #000;
	font-weight: bold;
}
