@charset "utf-8";

/*
 * 課題画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.0
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */
#thumbnail {
	margin-top: 1em;
	margin-bottom: 1em;
}

.task_valid_tooltip {
	left: 10px !important;
}
