@charset "utf-8";

/*
 * チャット画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */

div.chat_info {
	font-size: 0.9em;
}

div.chat_message_area {
	margin-top: 50px;
	width: 100%;
}

div.chat_message_img_upload_area {
	display: inline-block;
	float: left;
	width: 10%;
}

div.chat_message_text_area {
	display: inline-block;
	float: left;
	margin-top: 5px;
	width: 78%;
}

div.chat_message_text_area input[type="text"] {
	width: 100%;
}

div.chat_message_btn_area {
	display: inline-block;
	float: left;
	margin-left: 10px;
	width: 7%;
}

/*画像左側のチャット*/
.chat_box_left {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.chat_face_left {
	float: left;
/*	margin-right: -120px; */
	margin-right: -80px;
}

/* いったんやめ
.chat_face_left img{
	width: 90px;
	height: 90px;
	border-radius: 30px;
	border: 1px solid #ccc;
	box-shadow: 0 0 4px #ddd;
}
*/

.chat_face_left img{
	max-width: 65px;
}

.chat_area_left {
	width: 100%;
	float: right;
}
.chat_hukidashi_left {
	display: inline-block;
	padding: 15px 20px;
/*	margin-left: 120px; */
	margin-left: 80px;
	margin-top: 8px;
	border-radius: 10px;
	position: relative;
	background-color: #D9F0FF;
	float:left;
}
.chat_hukidashi_left p{
	margin-bottom: 0px;
}
.chat_hukidashi_left:after {
	content: "";
	position: absolute;
/*	top: 35px; left: -10px; */
	top: 25px; left: -10px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #D9F0FF transparent transparent;
}
/*
.chat_info_left {
	display: inline-block;
	float: left;
	position: relative;
	top: 18px;
	left: 18px;
}
*/


.chat_info_left {
	display: inline-block;
	margin-top: 8px;
/*	margin-left: 120px; */
	margin-left: 80px;
	position: relative;
	float:left;
}


/*画像右側のチャット*/
.chat_box_right{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.chat_area_right {
	width: 100%;
	float: left;
}
.chat_hukidashi_right {
	display: inline-block;
	padding: 15px 20px;
	margin-right: 10px;
	margin-top: 8px;
	border-radius: 10px;
	position: relative;
	background-color: #BCF5A9;
	float: right;
}
.chat_hukidashi_right p{
	margin-bottom: 0px;
}
.chat_hukidashi_right:after {
	content: "";
	position: absolute;
/*	top: 35px; right: -20px; */
	top: 25px; right: -20px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	border-color: transparent transparent transparent #BCF5A9;
}
/*
.chat_info_right {
	display: inline-block;
	float: right;
	position: relative;
	top: 18px;
	left: -15px;
}
*/
.chat_info_right {
	display: inline-block;
	margin-right: 10px;
	margin-top: 8px;
	position: relative;
	float: right;
}


/*スマホの時は画像を小さく*/
/*
@media screen and (max-width: 440px) {
	// 画像左側のチャット
	.chat_face_left {
		float: left;
		margin-right: -80px;
	}
	.chat_face_left img{
		width: 60px;
		height: 60px;
		border-radius: 30px;
		border: 1px solid #ccc;
		box-shadow: 0 0 4px #ddd;
	}
	.chat_hukidashi_left {
		display: inline-block;
		padding: 10px 10px;
		margin-left: 80px;
		margin-top: 0px;
		border-radius: 10px;
		position: relative;
		background-color: #D9F0FF;
	}


	.chat_info_left {
		display: inline-block;
		margin-top: 8px;
		margin-left: 80px;
		position: relative;
		float:left;
	}


	// 画像右側のチャット
	.chat_hukidashi_right {
		display: inline-block;
		padding: 10px 10px;
		margin-right: 10px;
		margin-top: 0px;
		border-radius: 10px;
		position: relative;
		background-color: #BCF5A9;
		float: right;
	}
}
*/