@charset "utf-8";

/*
 * 講座編集画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.3
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */

div.courseedit_teachername {
	margin-top: 8px;
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

/* simplecolorpickerのチェックしたパレットだけ小さくなってしまう事の対応 */
.simplecolorpicker.glyphicons span.color[data-selected]:after {
	margin-right: 2.2px;
	margin-left: 2.2px;
}

/* simplecolorpickerのショートリストでもパレットが2段になってしまう事の対応 */
.simplecolorpicker.picker {
	max-width: 320px;
}
.help {
	font-size: 80%;
	padding: .8em;
}
.guide_icon {
	font-size: 1.2em;
	padding: 0px;
	color: #777;
	cursor: help;
}
