@charset "utf-8";

/*
 * 日記一覧画面CSS
 *
 * @author Mitsuharu Shimizu
 * @version 1.0.1
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */
div.diarylist_profile_area {
	margin-bottom: 40px;
}

a#before_page, a#next_page {
	display: none;
}
