@charset "utf-8";

/*
 * 日記画面CSS
 *
 * @author Mitsuharu Shimizu
 * @version 1.0.3
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */
div.diary_post_area {
	clear: both;
}

.diarypic {
	padding:10px 0 0 0;
	margin:0 5px 5px 0;
}

a#before_page, a#next_page {
	display: none;
}
