@charset "utf-8";

/*
 * フィードバック画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.0
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */
.correct {
	font-size: 100%;
	font-weight: 400;
	color: #ffffff;
	background-color: rgb(217, 83, 79);
	padding: .1em .3em .1em .3em;
	border-radius: .25em;
}
/*
 * クイズ正解/不正解
 */
.parent{
    position: relative;
    height: 100%;
    width: 100%;
}
.inner{
    width: 150px;
    height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
	color: #ffffff;
	border-radius: 50%;
}
/* 正解の色 */
.correctflag {
	background-color: rgba(217, 83, 79, 0.5); 
}
/* 不正解の色 */
.incorrectflag {
	background-color: rgba(66, 139, 202, 0.5); 
}

/* マル */
.circle:after{
	display: block;
	content: '';
	width: 120px;
	height: 120px;
	border: 20px solid #ffffff;
	border-radius: 90px;
	position: absolute;
	top: 15px;
	left: 15px;
}
/* バツ */
.cross:before,.cross:after{
	display: block;
	content: '';
	width: 20px;
	height: 120px;
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 15px;
	left: 65px;
}
.cross:after{
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
