@charset "utf-8";

/*
 * システム管理（ジャンル）画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.1
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */
span#genre_icon_glyphicon {
	font-size: 1.5em;
}

button#btn_icon {
	position: relative;
	top: 10px;
	left: 10px;
}
a#before_page, a#next_page {
	display: none;
}
