@charset "utf-8";

/*
 * ログイン画面CSS
 *
 * @author Kazu
 * @version 1.0
 * @ 
 */
html {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table;
}
body {
	min-height: 100%;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
}

.navbar-inverse {
    /*	background-color: rgba(0,0,0,.8); */
    background-color: rgba(255,255,255,0.75);
    border-color: #000000;
}

#login_form{
	margin-bottom: 30px;
}

.loginlogo{
	padding: 0 0 30px 0;
	margin: 0 auto;
}
.loginlogo img{
	width:80%;
}
.loginnote{
	padding-top: 30px;
	border-top: 1px solid #eee;
}
.loginnote p{
	font-size: 14px;
	color:#6C6C6C;
}

@media (max-width: 767px) {
.loginlogo img{
	width:100%;
}
}