@charset "utf-8";

/*
 * プロフィール画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.2
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */
span#profile_icon_imgupload {
	font-size: 1.5em;
}

div.profile_btn_regist_area {
	margin-top: 20px;
}

button.profile_btn_imgupload {
	position: relative;
	top: 20px;
	left: 10px;
	margin-bottom: 15px;
}
