@charset "utf-8";

/*
 * システム管理（設定）画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.1
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */
span#msg_validate_background_img {
	color: #000;
	font-weight: bold;
}

/* simplecolorpickerで選択した色が背景と同色の場合にカラーピッカーがどこかわからなくなってしまう事の対応 */
.simplecolorpicker.icon {
	border: solid 1px #999;
}

/* simplecolorpickerのチェックしたパレットだけ小さくなってしまう事の対応 */
.simplecolorpicker.glyphicons span.color[data-selected]:after {
	margin-right: 2.2px;
	margin-left: 2.2px;
}

/* simplecolorpickerのショートリストでもパレットが2段になってしまう事の対応 */
.simplecolorpicker.picker {
	max-width: 350px;
}
