@charset "utf-8";

/*
 * ホーム画面（管理者）CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.2
 * @copyright Copyright (c) 2017, J's Bros. Co., Ltd.
 */

/* simplecolorpickerのチェックしたパレットだけ小さくなってしまう事の対応 */
.simplecolorpicker.glyphicons span.color[data-selected]:after {
	margin-right: 2.2px;
	margin-left: 2.2px;
}

/* simplecolorpickerのショートリストでもパレットが2段になってしまう事の対応 */
.simplecolorpicker.picker {
	max-width: 320px;
}
.span_new_mark {
	font-size: 60%;
	font-weight: bold;
	color: #ffffff;
	background-color: red;
	position: relative;
	top: -0.25em;
	padding: .2em .5em .2em .5em;
	border-radius: 1em;
	text-decoration: underline red;
}
