@charset "utf-8";

/*
 * 受講者登録画面CSS
 *
 * @author Mitsuharu Shimizu
 * @version 1.0.1
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */
img.studentsregist_img_userimg {
	width: 40px;
}

table.studentsregist_table_userinfo tbody>tr>td {
	vertical-align: middle;
}

div#page_link {
	display: none;
}
