@charset "utf-8";

/*
 * ホーム画面（受講者）CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.5
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */

#calendar {
	max-height: 900px;
	margin: 0 auto;
}
.diarypic {
	padding:0;
	margin:0 5px 5px 0;
}
.new {
	font-size: 60%;
	font-weight: bold;
	color: #ffffff;
	background-color: red;
	position: relative;
	top: -0.25em;
	padding: .2em .5em .2em .5em;
	border-radius: 1em;
	text-decoration: underline red;
}
.selfregistcourse_area {
	margin-bottom: 10px;
}
#course_list {
	clear: both;
}
.label_cource {
	padding: .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	border-radius: .25em;
	background-color: #777;
    line-height: 1.2em;
	display: inline-block;
}

/* スマホの時、カレンダーのボタンが大きすぎて1行に並びきらないので少し小さくする */
.fc button {
    padding: 0 .4em;
}
