@charset "utf-8";

/*
 * テーマ編集画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.4
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.guide {
	font-size: 80%;
	color: #777;
}
/* クイズ正解のラベル */
.correct {
	font-size: 100%;
	font-weight: 400;
	color: #ffffff;
	background-color: rgb(217, 83, 79);
	padding: .1em .3em .1em .3em;
	border-radius: .25em;
}
.help {
	font-size: 80%;
	padding: .8em;
}
span.guide_icon {
	font-size: 1.2em;
	padding: 0px;
	white-space: nowrap;
	min-width: 22px;
	color: #777;
	cursor: help;
}
