@charset "utf-8";

/*
 * システム管理（ユーザー管理）画面CSS
 *
 * @author Takahiro Kimura
 * @version 1.0.2
 * @copyright Copyright (c) 2016, J's Bros. Co., Ltd.
 */
img.usermanage_list_image {
	min-width: 30px;
}

span#usermanage_regist_icon_imgupload {
	font-size: 1.5em;
}

button.usermanage_regist_btn_imgupload {
	position: relative;
	top: 10px;
	left: 10px;
}

div#usermanage_course {
	margin-top: 7px;
}
a#before_page, a#next_page {
	display: none;
}
.help {
	font-size: 80%;
	padding: .8em;
}
.guide_icon {
	font-size: 1.2em;
	padding: 0px;
	color: #777;
	cursor: help;
}
.bs-group>.btn {
    margin-top: .2em;
    margin-bottom: .2em;
}
